<!DOCTYPE HTMl>
<html>
<head>
    <title>AJAX ERROR</title>
    <!--<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />-->
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css" media="all" />
    <script th:src="@{/static/js/ajaxError.js}"></script>
</head>
<body>

<div class="wrap">
    <h1>xTang error view -- AJAX</h1>
    <div class="banner"><img src="../static/images/fuel-404-logo.png" alt="" /></div>
    <div class="search">
        <form>
            <input type="text"  value="" placeholder="drop your email " />
            <input type="submit" value="" />
        </form>
    </div>
</div>
</body>
</html>